.main {
    padding: 0px 16rem 20px 16rem;
}

.head {
    margin-top: 4rem;
    display: flex;
    justify-content: center;
}

.content-heading {
    color: #222222;
    font-size: 35px;
    font-family: "Volkhov", serif;
    font-weight: 700;
}

.content-heading-highlight {
    color: #FA7436;
}

.card-container {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card {
    width: 22%;
}

.card-img {
    width: 100%;
}

.description {
    color: #222222;
    font-family: "Poppins", serif;
    font-weight: 500;
    margin-top: 18px;
    font-size: 16px;
}

.date {
    color: #999999;
    font-family: "Poppins", serif;
    font-weight: 400;
    margin-top: 12px;
    font-size: 13px;
}

.pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.pagination {
    display: flex;
    align-items: center;
}

.one {
    background: #E5E5E5;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.two {
    margin-left: 8px;
    background: #FA7436;
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.three {
    margin-left: 8px;
    background: #E5E5E5;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    cursor: pointer;
}

.subscription-box {
    margin-top: 5rem;
    border-radius: 10px;
    background: #FA7436;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 3rem 0px;
}

.circle-img {
    position: absolute;
    bottom: 0;
    height: 18rem;
    left: 0;
}

.tree-img {
    position: absolute;
    top: 5px;
    right: 0;
}

.subs-text {
    width: 45%;
    color: #FFFFFF;
    font-size: 33px;
    font-family: "Volkhov", serif;
    font-weight: 700;
    text-align: center;
    z-index: 1;
}

.input-box {
    margin-top: 3rem;
    background: #FFFFFF;
    z-index: 1;
    padding: 5px;
    border-radius: 7px;
    display: flex;
    align-items: center;
}

.icon-input {
    display: flex;
    align-items: center;
    width: 73%;
}

.right {
    width: 100%;
}

.input {
    border: none;
    margin-left: 5px;
    color: #999999;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
}

.input:focus {
    outline: none;
}

.btn-c {
    width: 27%;
    display: flex;
    justify-content: flex-end;
}

.subs-btn {
    background: #FA7436;
    font-size: 15px;
    font-family: "Poppins", serif;
    font-weight: 300;
    color: white;
    border: none;
    border-radius: 7px;
    padding: 9px 15px;
    cursor: pointer;
}