.main {
    padding: 0px 18rem;
    background: #FEFCFB;
}

.jurney-container {
    display: flex;
    width: 100%;
}

.jurney-left {
    width: 43%;
    display: flex;
    align-items: flex-end;
}

.jurney-content-container {}

.jurney-heading {
    font-family: "Volkhov", serif;
    font-weight: 700;
    font-size: 47px;
    color: #222222;
    line-height: 52px;
}

.jurney {
    color: #FA7436;
}

.jurney-content {
    margin-top: 20px;
    line-height: 29px;
    font-size: 16px;
    font-family: "Poppins", serif;
    color: #666666;
}

.jurney-btn {
    border-radius: 5px;
    border: 1.5px solid #FA7436;
    color: #FA7436;
    font-size: 14px;
    font-family: "Poppins", serif;
    background: white;
    padding: 10px 20px;
    margin-top: 2.8rem;
    cursor: pointer;
}

.jurney-right {
    width: 57%;
}

.journey-img {
    width: 100%;
}

.btm-container {
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.btm-bg-container {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    background: white;
    border-radius: 5px;
    display: flex;
    padding: 20px 15px;
}

.btm-col{
    margin-left: 3rem;
}

.dropdown {
    display: flex;
    align-items: center;
}

.dropdown-label{
    font-family: "Poppins", serif;
    font-size: 16px;
    font-weight: 500;
}
.down-arrow{
margin-left: 5px;
}

.btm-quest {
    margin-top: 8px;
    color: #666666;
    font-family: "Poppins", serif;
    font-size: 15px;
}

.btm-btn-col{
    display: flex;
    align-items: center;
    margin-left: 3rem;
}

.btm-btn{
    padding: 10px 13px;
    background: #FA7436;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: "Poppins", serif;
    font-size: 15px;
}